body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #8b72b4;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; 
    padding: 40px;
    padding-bottom: 80px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

#project-description,
#project-image {
    width: calc(50% - 10px); 
    box-sizing: border-box; 
}

#project-description {
    border: 2px solid #ccc; 
    padding: 20px; 
}

#project-image img {
    width: 80%; 
    display: block; 
    margin: 0 auto; 
}

#author-photo {
    width: 100%; 
    text-align: left;
    margin-top: 20px;
}

ul {
    padding: 10px 0; 
    padding-left: 10px;
    list-style-type: disc; 
}

ul li {
    margin-bottom: 5px;
    padding-left: 10px;
    position: relative;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #8b72b4;
    color: #ffffff;
    padding: 20px 0;
    z-index: 1;
}